Web References/wsStoryFeed/StoryFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smart-thinker.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smart-thinker.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Smart-Thinker UserProfile StoryFeed</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smart-thinker.com/webservices">
      <s:element name="AddAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actionType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relatedID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="actionText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createdByUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddActionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddActionIfNotExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actionType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relatedID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="actionText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createdByUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="addIfNotExistsOnly" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddActionIfNotExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddActionIfNotExistsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddActionSoapIn">
    <wsdl:part name="parameters" element="tns:AddAction" />
  </wsdl:message>
  <wsdl:message name="AddActionSoapOut">
    <wsdl:part name="parameters" element="tns:AddActionResponse" />
  </wsdl:message>
  <wsdl:message name="AddActionIfNotExistsSoapIn">
    <wsdl:part name="parameters" element="tns:AddActionIfNotExists" />
  </wsdl:message>
  <wsdl:message name="AddActionIfNotExistsSoapOut">
    <wsdl:part name="parameters" element="tns:AddActionIfNotExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="StoryFeedWSSoap">
    <wsdl:operation name="AddAction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a Story to the Story Feed</wsdl:documentation>
      <wsdl:input message="tns:AddActionSoapIn" />
      <wsdl:output message="tns:AddActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddActionIfNotExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a Story to the Story Feed only if the RelatedID, CreatedID and ActionText do not already exist)</wsdl:documentation>
      <wsdl:input message="tns:AddActionIfNotExistsSoapIn" />
      <wsdl:output message="tns:AddActionIfNotExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoryFeedWSSoap" type="tns:StoryFeedWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAction">
      <soap:operation soapAction="http://smart-thinker.com/webservices/AddAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActionIfNotExists">
      <soap:operation soapAction="http://smart-thinker.com/webservices/AddActionIfNotExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StoryFeedWSSoap12" type="tns:StoryFeedWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAction">
      <soap12:operation soapAction="http://smart-thinker.com/webservices/AddAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActionIfNotExists">
      <soap12:operation soapAction="http://smart-thinker.com/webservices/AddActionIfNotExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoryFeedWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Smart-Thinker UserProfile StoryFeed</wsdl:documentation>
    <wsdl:port name="StoryFeedWSSoap" binding="tns:StoryFeedWSSoap">
      <soap:address location="http://localhost/dotnetnuke482test/DesktopModules/Smart-Thinker%20-%20UserProfile/StoryFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="StoryFeedWSSoap12" binding="tns:StoryFeedWSSoap12">
      <soap12:address location="http://localhost/dotnetnuke482test/DesktopModules/Smart-Thinker%20-%20UserProfile/StoryFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>